/*
=========================================================
Name        : Header.css
Assignment  : Assignment 4
Author(s)   : Sarah Yip (UCID: 30174831), Stephenie Oboh (UCID: 30151629)
Submission  : March 24, 2024
Description : Styling sheet for Header Component
=========================================================
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  
  .logoHeader {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
  }
  
  .company-nameHeader {
    font-size: 18px; /* Adjust as needed */
  }
  
  .navHeader {
    display: flex;
  }
  
  .navHeader a {
    color: #fff;
    margin: 0 1rem; /* Adjust as needed */
    font-size: 12px;
  }
  