/*
=========================================================
Name        : Footer.css
Assignment  : Assignment 4
Author(s)   : Sarah Yip (UCID: 30174831), Stephenie Oboh (UCID: 30151629)
Submission  : March 24, 2024
Description : Styling sheet for Footer component
=========================================================
*/

.footer{
    font-size: 12px;
    color: black;
}