/*
=========================================================
Name        : HomeMainSection.css
Assignment  : Assignment 4
Author(s)   : Sarah Yip (UCID: 30174831), Stephenie Oboh (UCID: 30151629)
Submission  : March 24, 2024
Description : Styling sheet for Home Main Section
=========================================================
*/

.aboutUs{
    background-color: #fff;
}

.aboutUs h2 {
    font-size: 20px;
    color: black;
}

.aboutUs p{
    font-size: 20px;
    color: black;
}

.shop-now-button Link{
    font-size: 18px;
}

